################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C# Summery/~WRL0006.tmp
/C# Summery/~WRL4001.tmp
/C# Summery/~$- C#  Data Structure and Algorithms Summery By Mahmoud Badawy.docx
